@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Black+Ops+One&family=Chakra+Petch:wght@300&display=swap');


:root.light
{
	color-scheme: light;

	--text-color: black;
	--background-color: hsl(0, 0%, 100%);
	--link-color: hsl(214, 100%, 22%);
	--link-hover-color: hsl(213, 100%, 45%);
	--nav-color: hsl(0, 0%, 81%);
	--card-color: hsl(215, 24%, 82%);
	--card-back-color: hsl(195, 40%, 82%);
	--footer-color: hsl(0, 0%, 87%);
}
:root.dark
{
	color-scheme: dark;

	--text-color: white;
	--background-color: hsl(200, 6%, 10%);
	--link-color: hsl(214, 70%, 55%);
	--link-hover-color: hsl(213, 100%, 75%);
	--nav-color: hsl(209, 26%, 16%);
	--card-color: hsl(215, 21%, 20%);
	--card-back-color: rgb(91, 116, 150);
	--footer-color: hsl(176, 10%, 6%);
}


:root
{
	color: var(--text-color);
	font-family: "Chakra Petch";
	font-size: 18px;
	height: 100%;
}

body
{
	background-color: var(--background-color);
	margin: 0;
	height: 100%;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Black Ops One", sans-serif;
	font-weight: 100;
}

a
{
	color: var(--link-color);
	text-underline-offset: 0.05em;
	transition: color .2s, filter .2s;
}
a:hover
{
	color: var(--link-hover-color);
}

.theme-icon
{
	display: inline;
	margin-bottom: -0.4em;
}
.dark .theme-icon
{
	filter: invert(1);
}

nav
{
	display: grid;
	grid-auto-flow: column;
	position: sticky;
	top: 0;
	background-color: var(--nav-color);
	grid-template-columns: auto 1fr auto auto;
	align-items: center;
	z-index: 100;
}
nav > .title
{
	font-family: "Black Ops One";
	font-size: 1.3em;
	height: 2em;
	padding: 0.5em;
}

.dark .title
{
	filter: invert(1) hue-rotate(180deg);
}

nav .theme-toggle
{
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 0.2em;
	cursor: pointer;
}
.theme-toggle > img
{
	height: 1em;
}

nav > div, nav > a
{
	padding: 0.7em 1.2em;
}
nav a
{
	color: var(--text-color);
	text-decoration: none;
	--underline-color: var(--link-hover-color);
}
nav a, .hover-underline
{
	position: relative;
}
nav a::after, .hover-underline::after
{
	background-color: var(--underline-color);
	display: block;
	content: "";
	height: 0.15em;
	width: 0%;
	position: absolute;
	top: 80%;
	left: 50%;
	transition: width .3s, left .3s;
}
nav a:hover::after, .hover-underline:hover::after
{
	left: 1em;
	width: calc(100% - 2em);
}

main
{
	margin: auto;
	width: min-content;
	padding: 2em;
}


footer
{
	background-color: var(--footer-color);
	position: sticky;
	top: 100%;
	text-align: center;
	padding: 1em;
}