
@media print
{
	h1
	{
		margin-top: 0;
	}
	
	nav :not(.title)
	{
		display: none;
	}
	nav .title
	{
		padding: 1em;
	}
	
	main
	{
		width: unset;
	}
	
	.team
	{
		margin: auto;
	}

	.team .front
	{
		transform: rotateY(0deg) !important;
		opacity: 1 !important;
	}
	.team .back
	{
		opacity: 0 !important;
	}
	
	.team .front > img
	{
		width: 8em;
	}
}
