.team
{
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, minmax(10em, 1fr));
	width: max-content;
}

@media screen and (max-width: 50em)
{
	.team
	{
		grid-template-columns: repeat(2, minmax(10em, 1fr));
	}
}


.team > div
{
	--transition-time: .15s;
	position: relative;
	/* perspective: 800px; */
	perspective: 50em;
}
.team > div > div
{
	height: calc(100% - 2.4em);
	width: calc(100% - 2.4em);
	padding: 1.2em;
	border-radius: 0.4em;
}

.team .front
{
	background-color: var(--card-color);
	display: grid;
	gap: 1em;
	justify-items: center;
	align-items: center;
	text-align: center;

	min-width: fit-content;
}
.team .front > img
{
	width: 10em;
	border-radius: 0em;
	object-fit: contain;
	aspect-ratio: 7/9;
	/* border: 1px solid black; */
}
.team > div > div div:first-child
{
	font-family: "Aldrich";
}

.team .back
{
	background-color: var(--card-back-color);
	position: absolute;
	top: 0em;
	left: 0;
	display: grid;
	gap: 0.3em;
	align-content: start;
}



.team .front
{
	transform: rotateY(0.01deg);
	opacity: 1;
	transition: transform var(--transition-time) var(--transition-time) ease-out, opacity 0s var(--transition-time);
}
.team .back
{
	transform: rotateY(90deg);
	opacity: 0;
	transition: transform var(--transition-time) 0s ease-in, opacity 0s var(--transition-time);
}
.team > div:hover .front
{
	transform: rotateY(-90deg);
	opacity: 0;
	transition: transform var(--transition-time) 0s ease-in, opacity 0s var(--transition-time);
}

.team > div:hover .back
{
	transform: rotateY(-0.01deg);
	opacity: 1;
	transition: transform var(--transition-time) var(--transition-time) ease-out, opacity 0s var(--transition-time);
}